<html>
    <head>
        <title>Django Girls blog</title>
        <style>
            body {background-color: pink;}
        </style>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>author: {{ post.author }}</p>
                <p>created date: {{ post.created_date }}</p>
                </br>
            </div>
        {% endfor %}

    </body>
</html>